body {
  font-size: 16px;
  color: #fff;
  background-color: #fff; /*f4a460*/
  font-family: 'Oxygen', sans-serif;
}
/*bf325a   , eb4c34*/
.center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 60px;  /* role of font size in h1*/
  /*color: rgba(5,5,5,0.8);  does this overwrite the previous color*/
  animation-name: center;
  animation-timing-function: linear;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Navbar container */
.navbar {
  position: absolute;
  overflow: hidden;
  background-color: rgba(5,5,5,0);
  font-family: Arial;
  margin-top: 10px;
  right: 20px; /* can we do left , right both */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center; /* change to left*/
  padding: 14px 16px;
  text-decoration: none;
  /*left: 200px;*/

}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  left: 200px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;  /* inherit means?*/
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #eb4c34;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;  /* change to 0 and see the change*/
  background-color: #202040;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}

.bottom {
  background-color: #1a1a38;
  /*margin-bottom: 100px;*/
  height:  100px;
}

.copyright{  /* not .bottom div.copyright?*/
  /*position: relative;   , how to place a text on the bottom*/  
  top:20px ;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/*.img{
  width = 120%;
}*/

/*.col-sm-4{
  color: blue;
}
*/

.Search{ /* search doesnt work*/
  background-color: #e6e6e6;
  height: 150px;
}


/*#searching{
  color: #000000;
  font-size: 28px;
}*/

/*When we use div.row , .class1 .class2 and > ?*/

.Facilities{
  font-size: 20px;
  color: blueviolet;
}


.topbar{
  overflow: hidden;
  position: fixed;  /*absolute?*/
  top: 0;
  width: 100%;
}

.login-container{
  text-align: right;
  margin-right: 50px;
}



.header {
  position: fixed;
  top: 50px; /*or 0*/
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #f4a460;
}
.progress-bar {
  height: 8px;
  background: #ff7a59; /*or #ccc*/
  width: 0%;
}


  /*add full-width input fields*/
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }

  /* set a style for all buttons*/
  button {
    background-color: green;
    color: white;
    padding: 4px 10px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }

  /*set styles for the cancel button*/
  .cancelbtn {
    padding: 14px 20px;
    background-color: #FF2E00;
  }

  /*float cancel and signup buttons and add an equal width*/
  .cancelbtn{
    margin-left: 40px;
    float: left;
    width: 45%;
    margin-right: 20px;
  }

  .signupbtn {
    padding: 14px 20px;
    background-color: #f18d35;
    float: left;
    width: 45%
  }

  /*add padding to container elements*/
  .container {
    padding: 16px;
  }
  /*define the modal’s background*/
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }
  /*define the modal-content background*/
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  }
  /*define the close button*/
  
  .close {
    position: absolute;
    right: 35px;
    top: 50px;
    color: black;
    font-size: 40px;
    font-weight: bold;
  }
  /*define the close hover and focus effects*/

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
      width: 100%;
    }
  }