{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css\css.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Hotels</title>
</head>
<link rel="stylesheet" href="{% static 'css\css.css' %}">

<body>
   <!--style="background-color: aqua;"
        <h4>Price</h4> -->
  <div class="topnav">
    <h4>Price: {{price}}</h4>

    <a class="active" href="/home/">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    
    <div class="login-container">
      <form method ='POST' action='/authenticate/'>
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="Password" name="password">
        <button type="submit">Login</button>
      </form>
    </div>
  </div>

{% for hotel in hotels %}
<div class="a">
  
    <a href='/hotels/{{hotel.id}}/'><h2 id="a">{{hotel.name}}</a>
    <!-- <a href='/hotel/'><h2 id="a">{{hotel.name}}</a> -->
    <!-- <img src="{% static 'images/1-14085_beach-hotel-background-hd.jpg' %}"> -->
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    </h2>
 </div>
 <div class="ab1">
 <button class="accordion">Reviews</button>
 <!-- <p>Price</p> -->
<div class="panel">
  <span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p class="heading">4.1 average based on 254 reviews.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row">
  <div class="side">5 star</div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">150</div>
  <div class="side">4 star</div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">3 star</div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">15</div>
  <div class="side">2 star</div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">6</div>
  <div class="side">1 star</div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">20</div>
</div>

</div>

<button class="accordion">Details</button>
<div class="panel">
  <p></p>
</div>

<button class="accordion">Photos</button>
<div class="panel"></div>

</div>

<p>Price: {{hotel.price}}</p>
{% endfor %}

<div class="b">
  <h2 id="a"> Hotel Grand Hyatt
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    </h2>
 </div>
  <div class="ab2">
    <button class="accordion">Reviews</button>
   <div class="panel">
     <span class="heading">User Rating</span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star"></span>
   <p class="heading">4.1 average based on 254 reviews.</p>
   <hr style="border:3px solid #f1f1f1">
   
   <div class="row">
     <div class="side">
       <div>5 star</div>
     </div>
     <div class="middle">
       <div class="bar-container">
         <div class="bar-5"></div>
       </div>
     </div>
     <div class="side right">
       <div>150</div>
     </div>
     <div class="side">
       <div>4 star</div>
     </div>
     <div class="middle">
       <div class="bar-container">
         <div class="bar-4"></div>
       </div>
     </div>
     <div class="side right">
       <div>63</div>
     </div>
     <div class="side">
       <div>3 star</div>
     </div>
     <div class="middle">
       <div class="bar-container">
         <div class="bar-3"></div>
       </div>
     </div>
     <div class="side right">
       <div>15</div>
     </div>
     <div class="side">
       <div>2 star</div>
     </div>
     <div class="middle">
       <div class="bar-container">
         <div class="bar-2"></div>
       </div>
     </div>
     <div class="side right">
       <div>6</div>
     </div>
     <div class="side">
       <div>1 star</div>
     </div>
     <div class="middle">
       <div class="bar-container">
         <div class="bar-1"></div>
       </div>
     </div>
     <div class="side right">
       <div>20</div>
     </div>
   </div>
   
   </div>
   
   <button class="accordion">Details</button>
   <div class="panel">
     <p></p>
   </div>
   
   <button class="accordion">Photos</button>
   <div class="panel">
     <p></p>
   </div>
   </div>
   </div>
</div>

<script> 
    
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
 </script>
 <script src="js/bootstrap.min.js"></script> 
 <script src="js/jquery-2.1.4.min.js"></script>
 <script src="js/script.js"></script>

</body>
</html>