<h1 style="text-align: center;">My Bookings</h1>
    <!-- <p>{{booking.username}}</p>    
    <p>{{booking.bookedhotel}}</p> 
    <p>{{booking.name}}</p>    -->

<table style="width: 50%; padding-bottom: 20px;">
    <tr>
        <td><b>Hotel Name</b></td>
        <!-- <td><b>Delete</b></td> -->
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{booking.name}}</td>
        <!-- <td><a href="/delete/{{booking.id}}/" class="btn btn-danger">Delete</a></td> -->
    </tr>
    {% endfor %}
</table>