*{margin: 0;padding: 0;box-sizing: border-box;}
main{
	width: 97%;margin:5px auto;
	  border-radius: 10px;
	display: grid;
	grid-template-rows: 70px 185px 80px 300px 220px 300px;
	grid-template-columns: 50% 30% 20%;
	grid-gap:10px;
}
	.div1{background-color:#2f3599;
		grid-column: 1/-1;border-radius: 10px; overflow: hidden;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
  margin-left: 10px;

  
}

li a{
  color: white;
  display: block;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}


li a:hover{
  background-color: red;
}







	


	.div2{background-color:#2ed573;
		grid-column: 1/-1;border-radius: 10px;overflow: hidden;}
	.div3{background-color:#9999ff;
		grid-column: 1/-1;border-radius: 10px; overflow: hidden;}
	#div4{background-color:#5352ed;border-radius:10px; overflow: hidden;}
	
	
	.div5{border-radius: 10px; background-color:#2f3542}
	.div6{background-color:#2f3542;border-radius: 10px; color: white;}
	.div7{background-color:#ffffff;
		grid-column: 1/2;border-radius: 10px;   }
  .div8{background-color:#f4a460;
    grid-column: 1/-1;border-radius: 10px;overflow: hidden;color: white}
  .div9{background-color:#2f3542;
    grid-column:2/4;border-radius: 10px;}
  





    .heading {
  font-size: 20px;
  margin-right: 20px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 1px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 1px;
}

/* Place text to the right */
.right {
  text-align: right;
  width:97%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 50%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}


<<<<<<< HEAD






=======
>>>>>>> ec70cc950dd7d364cf68c8a6012f9e62666d1421
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;  /* change to 0 and see the change*/
  background-color: #202040;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}

.bottom {
  background-color: #1a1a38;
  /*margin-bottom: 100px;*/
  height:  100px;
}

<<<<<<< HEAD
.copyright{  /* not .bottom div.copyright?*/
=======
.copyright{
>>>>>>> ec70cc950dd7d364cf68c8a6012f9e62666d1421
  /*position: relative;   , how to place a text on the bottom*/  
  top:20px ;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

<<<<<<< HEAD

=======
>>>>>>> ec70cc950dd7d364cf68c8a6012f9e62666d1421
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/*.img{
  width = 120%;
}*/

/*.col-sm-4{
  color: blue;
}
*/

.Search{ /* search doesnt work*/
  background-color: #e6e6e6;
  height: 150px;
}

<<<<<<< HEAD

/*#searching{
  color: #000000;
  font-size: 28px;
}*/

/*When we use div.row , .class1 .class2 and > ?*/

=======
>>>>>>> ec70cc950dd7d364cf68c8a6012f9e62666d1421
.Facilities{
  font-size: 20px;
  color: blueviolet;
}

<<<<<<< HEAD

=======
>>>>>>> ec70cc950dd7d364cf68c8a6012f9e62666d1421
.topbar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.login-container{
  text-align: right;
  margin-right: 50px;
}
.book{
  background-color: orange;
  color:white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}