{% extends "index.html" %}
{% load static %}

{% block title %}
  Admin Page
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
{% endblock %}

{% block content %}
<div style="color: black; background-color: antiquewhite;">

    <h1 style="text-align: center;">Hi Admin</h1> <!-- Show admin username -->
    <a class =' btn btn-danger' href ='/logoutuser/' style="position: absolute; right:20px; top:10px;">Logout</a>

    <form method="POST" action="/add/" enctype ="multipart/form-data" style="width: 200px;">
        {% csrf_token %}
        <label>Hotel Name</label>
        <input type="text" class="form-control" name="hotel" required> <br>
        <label>Hotel Price</label>
        <input type="text" class="form-control" name="price" required>
        &nbsp; &nbsp;
        <label>Upload main Hotel Image</label>
        <input type="file" name="imagename" required> &emsp; &nbsp; &nbsp;  <!-- Uploading Images-->
        <label>Upload Hotel Image 2</label>
        <input type="file" name="image1" required> &emsp; &nbsp; &nbsp;
        <label>Upload Hotel Image 3</label>
        <input type="file" name="image2" required> &emsp; &nbsp; &nbsp;
        <label>Upload Hotel Image 4</label>
        <input type="file" name="image3" required> &emsp; &nbsp; &nbsp;  
        <button type="submit">Add</button>
    </form>

    <table style="width: 100%; padding-bottom: 20px;">
        <tr>
            <td><b> &nbsp; &nbsp;Hotel &emsp;Name &nbsp; &nbsp;</b></td>
            <td><b>Price&emsp;</b></td>
            <td style="text-align: center;"><b>Hotel Main Image &emsp;</b></td>
            <td style="text-align: center;"><b>Hotel Image 2</b></td>
            <td style="text-align: center;"><b>Hotel Image 3</b></td>
            <td style="text-align: center;"><b>Hotel Image 4</b></td>
            <td style="text-align: center;"><b>Delete</b></td>
        </tr>
        {% for hotel in hotels %}
        <tr>
            <td style="text-align: center;">{{hotel.name}}</td>
            <td style="margin-right: 20px;">{{hotel.price}}</td>
            <td><img src="{{hotel.hotel_Main_Img.url}}" style="height: 200px; width: 300px; margin-right: 20px; margin-bottom: 20px;"/></td>
            <td><img src="{{hotel.hotel_Main_Img1.url}}" style="height: 200px; width: 300px; margin-right: 20px;"/></td>
            <td><img src="{{hotel.hotel_Main_Img2.url}}" style="height: 200px; width: 300px; margin-right: 20px;"/></td>
            <td><img src="{{hotel.hotel_Main_Img3.url}}" style="height: 200px; width: 300px; margin-right: 20px;"/></td>
            <td><a href="/delete/{{hotel.id}}/" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}