{% extends "index.html" %}
{% load static %}

{% block title %}
  Hotels
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css\css.css' %}">
{% endblock %}
    
{% block content %}

    <!-- <h4>Price</h4> -->
    <div style = "height: 100px;"></div>

    {% for hotel in hotels %}
    <div class='cont' style="background-color: rgb(210, 224, 222); border-radius: 20px; margin-left: 50px; margin-right: 100px; margin-bottom: 200px;">
        <img src="{{ hotel.hotel_Main_Img.url }}" style ="position: relative; height: 300px;width: 500px;border-radius: 20px;">
        <span style="position: relative; top:-110px; left: 40px; font-size: 30px; "><a href='/hotels/{{hotel.id}}/' style="text-decoration: none;">{{hotel.name}}</a>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <button style="font-size: 20px;" class="reviewss">Reviews</button>
            <button style="font-size: 20px;" class="reviewss">Details</button>
        </span>
            <!-- <p>Price</p> -->
        
        <!-- <div class="container" style=" color: white;">
            <div class="row">
                <section id="hours" class="col-sm-4">
                </section>
                <section id="hours" class="col-sm-4">
                    <span>Contact Us </span><br>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    Mon-Sat: 9:00am - 10:00pm<br>
                </section>
            </div>
        </div> -->
    </div>
    {% endfor %}
        <!-- <a href='/hotel/'><h2 id="a">{{hotel.name}}</a> -->
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
        }
    </script>

{% endblock %}