{% extends "index.html" %}
{% load static %}

{% block title %}
  Admin Page
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
{% endblock %}

{% block content %}
<div style="color: black; background-color: antiquewhite;">

    <h1>Hi Admin</h1> <!-- Show admin username -->
    <!-- <a class =' btn btn-danger' href='/logoutuser/' style="float: right; right:100px; top:10px;">Logout</a> -->
    <a class =' btn btn-danger' href ='/logoutuser/' style="position: absolute; right:20px; top:10px;">Logout</a>

    <form method="POST" action="/add/" enctype ="multipart/form-data" style="width: 200px;">
        {% csrf_token %}
        <label>Hotel Name</label>
        <input type="text" class="form-control" name="hotel"> <br>
        <label>Hotel Price</label>
        <input type="text" class="form-control" name="price">
        <!-- <input type="submit" value="Add" name="" class='btn btn-success'> -->
        <input type="file" name="imagename">
        <input type="file" name="image1">
        <input type="file" name="image2">
        <input type="file" name="image3">
        <button type="submit">Add</button>
    </form>

    <table style="width: 100%; padding-bottom: 20px;">
        <tr>
            <td><b>Hotel Name</b></td>
            <td><b>Price</b></td>
            <td><b>Total Price</b></td>
            <td style="text-align: center;"><b>Hotel Main Image</b></td>
            <td style="text-align: center;"><b>Hotel Image</b></td>
            <td style="text-align: center;"><b>Hotel Image</b></td>
            <td style="text-align: center;"><b>Hotel Image</b></td>
            <td><b>Delete</b></td>
        </tr>
        {% for hotel in hotels %}
        <tr>
            <td>{{hotel.name}}</td>
            <td>{{hotel.price}}</td>
            <td>{{hotel.totalprice}}</td>
            <td><img src="{{hotel.hotel_Main_Img.url}}" style="height: 250px; width: 400px;margin-right: 20px;"/></td>
            <td><img src="{{hotel.hotel_Main_Img1.url}}" style="height: 200px; width: 300px;"/></td>
            <td><img src="{{hotel.hotel_Main_Img2.url}}" style="height: 200px; width: 300px;"/></td>
            <td><img src="{{hotel.hotel_Main_Img3.url}}" style="height: 200px; width: 300px;"/></td>
            <td><a href="/delete/{{hotel.id}}/" class="btn btn-danger">Delete</a></td> <!-- diff bw href="" and href="#" and why delete/...doenst work  -->
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}