<!-- <style>
* {
  box-sizing: border-box;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.left {
  width: 20%;
}
.right {
  width: 20%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="column left" style="background-color:#aaa;">
    <h2>Hotel Name</h2>
  </div>
  <div class="column right" style="background-color:#bbb;">
    <h2>Hotel Image</h2>
  </div>
  <div class="column left" style="background-color:#aaa;">
    <h2>Check-in</h2>
  </div><div class="column left" style="background-color:#aaa;">
    <h2>Check-out</h2>
  </div><div class="column left" style="background-color:#aaa;">
    <h2>Cancel</h2>
  </div>
</div> -->

{% extends "index.html" %}
{% load static %}

{% block title %}
  User Booking
{% endblock %}

{% block content %}

{% for message  in messages %}
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        {{message}}      
    </div>      
    {% endfor %}

<h1 style="text-align: center; color: rgb(30, 48, 210);">My Bookings</h1>
    <!-- <p>{{booking.username}}</p>    
    <p>{{booking.bookedhotel}}</p> -->

    
<table style="width: 98%; padding-bottom: 20px; margin: 20px; background-color: blanchedalmond;">
    <tr style="text-align: center; font-weight: bold;">
        <td><h2><b>Hotel Name</b></h2></td>
        <td><h2>Hotel Image</h2></td>
        <td><h2 style="text-align: center; font-weight: bold; ">Check-in Date</h2></td>
        <td><h2>Check-out Date</h2></td>
        <td><h2>Cancel Booking</h2></td>
    </tr>
    {% for booking in bookings %}
    <tr style="text-align: center;">
        <td><h2>{{booking.name}}</h2></td>
        {% if booking.Hotel_image %}
        <td><img src="{{ booking.Hotel_image.url }}" height ="280px" width="500px" style ="margin-bottom: 50px;"></td>
        {% endif %}
        <td style ="margin-left: 20px;">{{booking.name}}</td>
        <td>{{booking.name}}</td>
        <td><a href="/cancel/{{booking.id}}/" class="btn btn-danger">Cancel My Booking</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}