{% extends "index.html" %}
{% load static %}

{% block title %}
Hotels
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\css.css' %}">
{% endblock %}

{% block content %}
    <div style = "height: 100px;"></div>
    <div class="topnav">
    
      <a class="active" href="/">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div style=" border:5px; height: 440px; background-color: rgb(181, 204, 201);"><br>
    <h2 style="text-align: center; color: blue;">Cheapest Hotel</h2>
    <!--FOR ADDING FOR LOOP-->
    {% for cheap in cheapest %}
     <!--FOR CREATING CONATINER FOR DIFFERENT ELEMENTS-->
    <div class='cont' style="background-color: rgb(210, 224, 222); border-radius: 20px; margin-left: 50px; margin-right: 100px; margin-bottom: 200px;">
      <!--FOR SHOWING IMAGES-->
      <img src="{{ cheap.hotel_Main_Img.url }}" style ="position: relative; height: 300px;width: 500px;border-radius: 20px;">
      <span style="position: relative; top:-110px; left: 40px; font-size: 30px; "><a href='/hotels/{{cheap.id}}/' style="text-decoration: none;">{{cheap.name}}</a>
          <!--FOR SHOWING STARS-->
         <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
     <span class="price">PRICE: {{cheap.totalprice}}</span>
             <!--FOR SHOWING REVIEW BUTTON-->
            <button class="accordion" style="width: 120%;">Reviews</button>
           <div class="panel">
             <span class="heading">User Rating</span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star checked"></span>
           <span class="fa fa-star"></span>
           <p class="heading">4.1 average based on 254 reviews.</p>
           <hr style="border:3px solid #f1f1f1">
           
           <div class="row">
             <div class="side">5 star</div>
             <div class="middle">
               <div class="bar-container">
                 <div class="bar-5"></div>
               </div>
             </div>
             <div class="side right">150</div>
             <div class="side">4 star</div>
             <div class="middle">
               <div class="bar-container">
                 <div class="bar-4"></div>
               </div>
             </div>
             <div class="side right">
               <div>63</div>
             </div>
             <div class="side">3 star</div>
             <div class="middle">
               <div class="bar-container">
                 <div class="bar-3"></div>
               </div>
             </div>
             <div class="side right">15</div>
             <div class="side">2 star</div>
             <div class="middle">
               <div class="bar-container">
                 <div class="bar-2"></div>
               </div>
             </div>
             <div class="side right">6</div>
             <div class="side">1 star</div>
             <div class="middle">
               <div class="bar-container">
                 <div class="bar-1"></div>
               </div>
             </div>
             <div class="side right">20</div>
           </div>      
           </div>     
          </button>  
      </span>        
  </div>
</div>

<hr style="color: blue;">

    {% endfor %}
  <h2 style="text-align: center;">Hotels</h2>
    {% for hotel in hotels %}
    <!--FOR CREATING CONATINER FOR DIFFERENT ELEMENTS-->
    <div class='cont' style="background-color: rgb(210, 224, 222); border-radius: 20px; margin-left: 50px; margin-right: 100px; margin-bottom: 200px;">
      <!--FOR SHOWING IMAGES-->  
      <img src="{{ hotel.hotel_Main_Img.url }}" style ="position: relative; height: 300px;width: 500px;border-radius: 20px;">
        <span style="position: relative; top:-110px; left: 40px; font-size: 30px; "><a href='/hotels/{{hotel.id}}/' style="text-decoration: none;">{{hotel.name}}</a>
           <!--FOR SHOWING STARS-->
           <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
       <span class="price">PRICE: {{hotel.totalprice}}</span>
              <!--FOR SHOWING REVIEW BUTTON-->
              <button class="accordion" style="width: 120%;">Reviews</button>
             <div class="panel">
               <span class="heading">User Rating</span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <p class="heading">4.1 average based on 254 reviews.</p>
             <hr style="border:3px solid #f1f1f1">
             
             <div class="row">
               <div class="side">5 star</div>
               <div class="middle">
                 <div class="bar-container">
                   <div class="bar-5"></div>
                 </div>
               </div>
               <div class="side right">150</div>
               <div class="side">4 star</div>
               <div class="middle">
                 <div class="bar-container">
                   <div class="bar-4"></div>
                 </div>
               </div>
               <div class="side right">
                 <div>63</div>
               </div>
               <div class="side">3 star</div>
               <div class="middle">
                 <div class="bar-container">
                   <div class="bar-3"></div>
                 </div>
               </div>
               <div class="side right">15</div>
               <div class="side">2 star</div>
               <div class="middle">
                 <div class="bar-container">
                   <div class="bar-2"></div>
                 </div>
               </div>
               <div class="side right">6</div>
               <div class="side">1 star</div>
               <div class="middle">
                 <div class="bar-container">
                   <div class="bar-1"></div>
                 </div>
               </div>
               <div class="side right">20</div>
             </div>      
             </div>     
            </button>  
        </span>        
    </div>
    {% endfor %}
    <!--FOR ADDING TOGGLE FEATURE IN REVIEW BUTTON-->
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          /* Toggle between adding and removing the "active" class,
           to highlight the button that controls the panel */
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            /* Toggle between hiding and showing the active panel */
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
        }
    </script>

{% endblock %}