body {
  font-size: 16px;
  color: #fff;
  background-color: #f4a460;
  font-family: 'Oxygen', sans-serif;
}
/*bf325a   , eb4c34*/
.center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 60px;  /* role of font size in h1*/
  /*color: rgba(5,5,5,0.8);  does this overwrite the previous color*/
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Navbar container */
.navbar {
  position: absolute;
  overflow: hidden;
  background-color: rgba(5,5,5,0);
  font-family: Arial;
  top: 20px;
  right: 20px; /* can we do left , right both */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center; /* change to left*/
  padding: 14px 16px;
  text-decoration: none;
  /*left: 200px;*/

}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  left: 200px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;  /* inherit means?*/
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #eb4c34;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;  /* change to 0 and see the change*/
  background-color: #202040;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}

.bottom {
  background-color: #1a1a38;
  /*margin-bottom: 100px;*/
  height:  100px;
}

.copyright{  /* not .bottom div.copyright?*/
  /*position: relative;   , how to place a text on the bottom*/  
  top:20px ;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.img{
  width = 120%;
}

/*.col-sm-4{
  color: blue;
}
*/
.Search{ /* search doesnt work*/
  background-color: #e6e6e6;
  height: 150px;
}

.below{
  background-color: #fbfbfb;
  height: 100px;
}

/*#searching{
  color: #000000;
  font-size: 28px;
}*/

/*When we use div.row , .class1 .class2 and > */
